body {
	background-color: black;
}

@font-face {
	font-family: "loveletter";
	src: url("../fonts/loveletter.ttf");
}

#header {
	color:antiquewhite;
	font-family: "loveletter";
	font-size: 35px;
	overflow: hidden;
	padding: 20px 5vw 20px 5vw;
}
#header a {
	color: inherit;
	float: right;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	line-height: 25px;
	border-radius: 4px;
}
#header a:hover {
	color:burlywood;
}
#header-title {
	float: left;
	font-size: 80px;
}

p {
	color: antiquewhite;
	text-align: center;
	font-family: "loveletter";
	font-size: 20px;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border: 2px antiquewhite solid;
	width: 50vw;
	height: 28.125vw;
}

@media screen and (max-width: 750px) {
	#header a {
	  float: none;
	  display: block;
	  text-align: center;
	}
	#header-title {
	  float: none;
	  text-align: center;
	}
	iframe {
		width: 90vw; 
		height: 50.625vw;
	}
}