body {
	background-color: black;
}

@font-face {
	font-family: "loveletter";
	src: url("../fonts/loveletter.ttf");
}

.header {
	color:antiquewhite;
	font-family: "loveletter";
	font-size: 5vw;
	display: flex;
	justify-content: center;
}

P {
	color: antiquewhite;
	text-align: center;
	font-family: "loveletter";
	font-size: 1vw;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
	padding: 6px;
    border: 2px antiquewhite solid;
}